%h1 Listing books

%table
  %tr
    %th Author
    %th Title
    %th Front cover
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.author
      %td= book.title
      %td= image_tag book.front_cover.thumb('100x50#').url if book.front_cover_stored?
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
