%p#notice= notice

%p
  %b Author:
  = @book.author
%p
  %b Title:
  = @book.title
- if @book.front_cover_stored?
  %p
    %b= "Front cover - '#{@book.front_cover_name}' (#{@book.front_cover.width}px x #{@book.front_cover.height}px):"
    %br
    = image_tag @book.front_cover.url

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
